
html{
  scroll-behavior: smooth;
}










.register-section{
 height: 450px;
 width: 750px;
 border-style:solid;
 border-color:whitesmoke;
 border-bottom-width:7px ;
 border-top-width:7px ;
 border-radius: 30px;
 display: flex;
text-align: center;
 margin-top: 3%;
 margin-left: 22%;
 justify-content: center;
 box-shadow: 10px 10px 5px grey;
 background-repeat: no-repeat;
 background-size: cover;
}
.login-section{
  height: 450px;
  width: 750px;
 border-style:solid;
 border-color:whitesmoke;
 border-bottom-width:7px ;
 border-top-width:7px ;
 border-radius: 30px;
 display: flex;
 float: left;
 margin: 3% 22%;
 
 padding-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 5px grey;
  
}

.login-form{
  text-align: center;
  margin:10% 29%;

}
.project-form{
  text-align: center;
  justify-content: center;
  margin:5% 25%;

}
#userlogo{
  height: 80px;
  width: 80px;
}
#size{
  width: 250px;
  border-radius: 10px;
}
#register{
  margin-bottom: 20px;
}
#submit-btn{
  width: 250px;
  border-radius: 12px;
  background:linear-gradient(grey,white);
}
.register-form{
  margin-top: 50px;
}
.h-section{
  
  width: 100%;
  border-style:double;
  border-color:black;
  
}
.top-section{
  height: auto;
  
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
}
.left-section{
  height: auto;
 
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  
}
.right-section{
  height: auto;
 
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
 
  
 
}
.board{
  display: flex;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}
#game-board {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.letter-box-green {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #6aaa64;
}
.letter-box-yellow {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #c9b458;
}
.letter-box-gray {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #787c7e;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}
/* Gameboard */
#Gamekeyboard {
  margin: 0 8px;
  user-select: none;
}
.row1{
  display: flex;
  width: 80%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
.row2{
  display: flex;
  width: 80%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
.row3{
  display: flex;
  width: 80%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: gray;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}







@media only screen and (max-width: 700px) {
 

   .register-form{
    height: 340px;
    width: 300px;
    margin:2% 10%;

   }
   #homePage{
    height: 400px;
    background-position:left;
    background-size: cover;
    background-position-x:-50px ;
    display:flex;
    flex-direction: column;  
  }
 
  .about{
    margin: 0px 0%;
    background-color: white;
    border-radius: 0px;
    width: 9rem;
    height:32rem;
    box-shadow: 7px 7px 5px black ;
  }
  #imgabout{
    width: 8rem ;
    height:7rem;
    border-radius:0px;
  }
  #sentence{
    height: 150px;
    width: 250px;
    margin-top: 22%;
    margin-left: 28%;
    font-size: 12px;
  }
  #btnexplore{
    margin-left: 40%;
    width: 150px;
    font-size: 10px;
   
  }
  #quote{
    font-size: 25px;
    margin-bottom: 30px;
  }
  #btnadd{
    height: 50px;
    width: 26%;
    margin-bottom: 30px;
    cursor:pointer;
    margin: 5px 10px;
    border-radius: 10px;
  }
  .buttonPro{
    margin:10px 20px;
    width: 200px;
    height: 40px;
  }
  .projectCards{
    height: 200px;

  }
  #btnadd{
    width: 200px;
    margin-left: 15%;
  }
  .btnprojects1{
    margin: 0% 10%;
    font-size: 20px;
  }
}